:root {
  --grid-gap: 0.75em;
  --block-content-color: rgba(253, 230, 130, var(--tw-text-opacity)) !important;
}
.blocks {
  @apply grid;
}
.entry-block {
  @apply col-span-12;
  --block-content-color: rgba(253, 230, 130, var(--tw-text-opacity)) !important;
  .block-title {
    text-transform: capitalize;
    border-color: rgba(0, 0, 0, var(--tw-text-opacity)) !important;
    padding-bottom: 0.75em;
    margin-bottom: 0.5em;
    color: var(--block-content-color) !important;
    border-bottom: 0.075em solid rgba(0, 0, 0, 0.5) !important;
  }
  .block-content {
    li::marker {
      color: var(--block-content-color);
    }
  }
}
.blocks {
  .entry-block:nth-child(7n + 1) {
    --block-content-color: rgba(192, 132, 252, var(--tw-text-opacity)) !important;
  }
  .entry-block:nth-child(7n + 1) {
    --block-content-color: rgba(192, 132, 252, var(--tw-text-opacity)) !important;
  }
  .entry-block:nth-child(7n + 2) {
    --block-content-color: rgba(239, 95, 101, var(--tw-text-opacity)) !important;
  }
  .entry-block:nth-child(7n + 3) {
    --block-content-color: rgba(250, 143, 117, var(--tw-text-opacity)) !important;
  }
  .entry-block:nth-child(7n + 4) {
    --block-content-color: rgba(253, 230, 130, var(--tw-text-opacity)) !important;
  }

  .entry-block:nth-child(7n + 5) {
    --block-content-color: rgba(0, 230, 130, var(--tw-text-opacity)) !important;
  }
  .entry-block:nth-child(7n + 6) {
    --block-content-color: rgba(99, 228, 239, var(--tw-text-opacity)) !important;
  }
  .entry-block:nth-child(7n + 7) {
    --block-content-color: rgba(96, 165, 250, var(--tw-text-opacity)) !important;
  }
}
.page-content {
  // margin-top: -1em !important;
  padding: 2em 1em !important;
  background-color: transparent !important;
  border-radius: 0 !important;
  // .wysiwyg.block-content {
  // color: rgba(229, 231, 235, var(--tw-text-opacity)) !important;
  // }
}

.single-entry {
  @apply flex flex-wrap bg-opacity-30 bg-gray-900 m-0 p-5 rounded-lg shadow-lg;
  column-gap: var(--grid-gap);
  row-gap: var(--grid-gap);
  &.gasket,
  &.material,
  &.supplier,
  &.resource {
    .heading-content,
    .entry-block,
    .entry-sidebar {
      @apply m-0 bg-opacity-50 bg-gray-800 p-5 rounded-lg shadow-lg;
    }
    .heading-content {
      @apply p-2;
      .media {
        @apply my-0 rounded-lg mr-0 ml-auto;
      }
      .media-image {
        @apply h-full w-auto max-w-none m-auto #{!important};
      }
    }
    .blocks {
      @apply grid gap-3 grid-cols-12 sm:gap-4 p-0 m-0 overflow-y-visible;
      column-gap: var(--grid-gap);
      row-gap: var(--grid-gap);
      &:not(.hide-sidebar) {
        @media screen and (min-width: 821px) {
          width: calc(70% - var(--grid-gap));
        }
      }
      .entry-block {
        @apply bg-opacity-50 bg-gray-800 col-span-12 h-auto;
        &:not(.block-ComponentBlockCollection) {
          @apply lg:col-span-6;
        }
        &.page-content {
          @apply bg-opacity-90 m-0 col-span-12;
        }
        .block-title {
          @apply text-gray-600;
        }
      }
    }
    .entry-sidebar {
      @apply max-w-[400px] min-w-[200px] bg-opacity-60 bg-gray-900;
      @media screen and (min-width: 821px) {
        @apply w-[30%];
      }
    }
  }
}
// w-1/2
// flex-col sm:flex-col md:flex-col lg:flex-col xl:flex-col
// flex-row sm:flex-row md:flex-row lg:flex-row xl:flex-row
// mb-2 sm:mb-0 sm:mr-4 w-full sm:w-1/2 rounded-lg shadow-lg m-0 sm:mr-4 min-h-full
// font-serif
