@import "./_typography.scss";
@import "./_layout.scss";
@import "./_animations.scss";
@import "./_blocks.scss";
@import "./_inputs.scss";
@import "./_buttons.scss";
@import "./_scrollbar.scss";

:root {
        --site-max-width: 1300px;
}

[class^="gicon-"]:before,
[class*=" gicon-"]:before {
        position: relative;
        top: 0.05em !important;
}

body {
        @apply text-gray-200;
        background: rgba(7, 14, 26, 1) !important;
}
.break-inside {
        break-inside: avoid;
}
